/*модальное окно*/
﻿.Modal {
     display: none;
 }

.Content {
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 200px;
    min-height: 200px;
}

.Active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 50000;
}
/*модальное окно*/