@model int

@{
    var solutionsCount = Model;
    int countPages = solutionsCount % 10 == 0 ? solutionsCount / 10 : solutionsCount / 10 + 1;
    <script>
        var countPages = @countPages;
    </script>
}
@if (countPages <= 5 && countPages != 1)
{
    <div class="d-flex justify-content-center">
        <div class="nav_menu">
            @for (int i = 1; i <= countPages; i++)
            {
                <button class="nav_menu_button" id="selector" value="@i">@i</button>
            }
        </div>
    </div>
}
else if(countPages > 5)
{
    <div class="d-flex justify-content-center">
        <div class="nav_menu">
            
            <button class="nav_menu_button" id="previousPages"> &lt;&lt; </button>

            @for (uint i = 1; i <= countPages + 5; i++)
            {
                <button class="nav_menu_button" id="selector" value="@i">@i</button>
            }

            <button class="nav_menu_button" id="nextPages"> &gt;&gt; </button>
            
        </div>
    </div>
}