@model int

@{
    var solutionsCount = Model;
    int countPages = 53/* solutionsCount % 10 == 0 ? solutionsCount / 10 : solutionsCount / 10 + 1*/;
    <script>
        var countPages = @countPages;
        var currentPage = 1;
    </script>
}
@if (countPages <= 5 && countPages != 1)
{
    <div class="d-flex justify-content-center">
        <div class="nav_menu">
            <button style="background-color:#297eff;" class="nav_menu_button page" value="1">1</button>
            @for (int i = 2; i <= countPages; i++)
            {
                <button class="nav_menu_button page" value="@i">@i</button>
            }
        </div>
    </div>
}
else if(countPages > 5)
{
    <div class="d-flex justify-content-center">
        <div class="nav_menu">

            <button style="background-color: #bdbbbb;" class="nav_menu_button previousPages" id=""> &lt;&lt; </button>
            <div class="d-flex pages">
                <button style="background-color:#297eff;" class="nav_menu_button page" value="1">1</button>
            @for (uint i = 2; i <=  5; i++)
            {
                <button class="nav_menu_button page" id="selector" value="@i">@i</button>
            }
            </div>
            <button class="nav_menu_button nextPages" id=""> &gt;&gt; </button>
        </div>
    </div>
}