@model int
@{
    int countPages = Model % 10 == 0 ? Model / 10 : Model / 10 + 1;
    <script>
        var countPages = @countPages;
    </script>
}
@if (countPages <= 5 && countPages != 1)
{
    <div class="d-flex justify-content-center">
        <div class="box d-flex pt-2 col-12">
            @for (int i = 1; i <= countPages; i++)
            {
                <button class="form-control item page" value="@i">@i</button>
            }
        </div>
    </div>
}
else if(countPages > 5)
{
    <div class="d-flex justify-content-center">
        <div class="box d-flex pt-2 col-12">
            <button class="form-control item" id="previousPages"> &lt;&lt; </button>
            @for (int i = 1; i <= 5; i++)
            {
                <button class="form-control item page" value="@i">@i</button>
            }
            <button class="form-control item" id="nextPages"> &gt;&gt; </button>
        </div>
    </div>
}