@using Common.Configs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ModelsConfiguration
@model BLL.Models.Auth.LoginRequest

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/main.css"  asp-append-version="true">
        <link rel="stylesheet" href="~/css/pages/login.css"  asp-append-version="true">
}

<div class="contact-us section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  align-self-center">
                <div class="section-heading">
                    <h6>Войти в аккаунт</h6>
                    <h2 class="no_extra_text_effects">На этой странице вы можете зайти в созданный Вами Аккаунт.</h2>
                    <div class="extra_login_options">
                        <div class="extra_login_options_option">
                            <h6>Нет Аккаунта? </h6>
                            <a class="extra_login_link" asp-controller="Auth" asp-action="Register">Регистрация</a>
                        </div>
                        <div class="extra_login_options_option">
                            <h6>Забыли Пароль? </h6>
                            <a class="extra_login_link" asp-controller="User" asp-action="ChangePassword">Востановить Пароль</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-us-content">
                    <form class="input_form" asp-action="Login" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <fieldset class="input_field">
                                    <input id="email" asp-for="Email" type="text" required placeholder="Введите почту *"/>
                                    <span asp-validation-for="Email" class="text-danger text-danger--blue_style"></span>
                                </fieldset>
                            </div>

                            <div class="col-lg-12">
                                <fieldset class="input_field">
                                    <input id="password" asp-for="Password" type="password" required placeholder="Введите пароль *"/>
                                    <span asp-validation-for="Password" class="text-danger  text-danger--blue_style"></span>
                                </fieldset>
                            </div>

                            <div class="col-lg-12 col-lg-12--flex">
                                <fieldset class="login_button">
                                    <button type="submit" id="form-submit" class="orange-button">Войти</button>
                                </fieldset>                              
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

 