html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

textarea {
    overflow: hidden;
}

.navbar {
    background-color: #e3f2fd;
}

.nav-link:hover {
    background:#bc8f8f;
}

.indexMain {
    max-width: 800px;
}

