@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<BLL.Models.ViewModels.ReportVm>
<div id="reports">
<div class="container p-3">
    <table class="table table-bordered table-striped edit_model" style="width: 100%">
            <thead>
            <tr>
                <th  class="edit_model_element">
                    Причина
                </th>
                <th>Создано</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="60%" class="edit_model_element">@obj.Reason</td>
                    <td width="40%" class="text-center">
                        @obj.Created.ToLocalTime()
                    </td>
                </tr>
            }
            </tbody>
        </table>
</div>
</div>