@model IEnumerable<BLL.Models.ViewModels.WarnTopFavorSolutionVm>

<div id="favorSolutions">
    @if (Model.Any())
    {
        <div class="pt-1 col-12">
            @foreach (var el in Model)
            {
                <partial model="@el" name="Partials/_FavorSolutionWarnTopCard"/>
            }
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center pt-4">
            <h2 class="text-center">У пользователя нет услуг</h2>
        </div>
    }
</div>







