@model IEnumerable<BLL.Models.ViewModels.SuggestionVm>

<div id="Suggestions">
    @if (Model.Count() > 0)
    {
    <div class="container p-3">
    <table class="table table-bordered table-striped edit_model" style="width: 100%">
            <thead>
            <tr>
                <th class="edit_model_element">
                    Текст
                </th>
                <th class="edit_model_element">
                    Контакты
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="70%" class="edit_model_element">@obj.Text</td>
                    
                    <td width="20%" class="edit_model_element">@(obj.Connection)</td>

                    @*<td width="10%" class="edit_model_element">@obj</td>*@
                </tr>
            }
            </tbody>
        </table>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center">
            <h1>Предложений нет</h1>
        </div>
    }
</div>



