@model List<BLL.Models.ViewModels.UserVm>

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/main.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/admin.css"  asp-append-version="true">
}

<div class="container p-3">
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped edit_model" style="width: 100%">
            <thead>
            <tr>
                <th  class="edit_model_element">
                    Имя
                </th>
                <th class="edit_model_element"> 
                    Почта
                </th>
                <th class="edit_model_element">
                    Забанен
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="30%" class="edit_model_element">@obj.Nick</td>
                    <td width="20%" class="edit_model_element">@obj.Email</td>
                    <td width="20%" class="edit_model_element">@(obj.IsBanned ? "да" : "нет")</td>
                    <td class="text-center">
                        <div class="w-75 btn-group" role="group">
                            <a   class="btn btn-primary mx-2">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a  class="btn btn-danger mx-2">
                                <i class="fa-sharp fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>