@model BLL.Models.ViewModels.UserPanelVm

<partial name="Partials/_UserTable" model="@Model.UserVms" />
<div id="">
    <partial name="../Home/Partials/_Pagination" model="@Model.CountUsersByFilters" />
</div>