@model BLL.Models.Admin.SubjectRequest

<div class="d-flex justify-content-center">
    <div class="col-6">
        <form id="form" method="post" asp-controller="Admin" asp-action="AddSubject">
            <div>
                <div class="pt-2">
                    <textarea asp-for="Name" required maxlength="50" data="elastic" class="form-control" placeholder="Введите предмет*(50)"></textarea>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="pt-2 text-center">
                    <button type="submit" class="btn btn-dark">Добавить</button>
                    <button id="clearFormButton" type="button" class="btn btn-danger">Очистить</button>
                </div>
            </div>
        </form>
    </div>
</div>