@model BLL.Models.ViewModels.BanHistoryVm

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/main.css"  asp-append-version="true"> 
    <link rel="stylesheet" href="~/css/pages/admin.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/login.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/viewServices.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/nav.css"  asp-append-version="true">
}

<div class="section events" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2 class="no_extra_text_effects">История банов</h2>
                </div>
            </div>

            <div>
                <partial name="Partials/_BanHistoryList" model="@Model.Bans"/>
            </div>
            <div>
                <partial name="../Home/Partials/_Pagination" model="@Model.Count" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>var userId = '@Model.UserId';</script>
    <script src="~/js/Admin/BanPanel.js" asp-append-version="true"></script>
    <script src="~/js/default/pagination.js" asp-append-version="true"></script>
}