@model BLL.Models.ViewModels.ReportsPaginationVm

@section Styles
    {
        <link rel="stylesheet" href="~/css/pages/main.css"  asp-append-version="true"> 
        <link rel="stylesheet" href="~/css/pages/admin.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/pages/login.css"  asp-append-version="true">
        <link rel="stylesheet" href="~/css/pages/viewServices.css"  asp-append-version="true">
        <link rel="stylesheet" href="~/css/pages/nav.css"  asp-append-version="true">
}


<div class="margin_top_mini"></div>

<div class="servicesList">
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="menu_content">
                    <div class="col-lg-12 col-lg-12--flex">
                        <h2>Все жалобы</h2>
                    </div>

                    <div class="col-12" id="ReportsWithPagination">
                        <partial name="Partials/_FavorReportsList" model="@Model.Reports"></partial>
                    </div>
                    <div class="col-12" id="ReportsWithPagination">
                        <partial name="../Home/Partials/_Pagination" model="@Model.Count"></partial>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>var favorId = '@Model.FavorId';</script>
    <script src="~/js/Admin/ReportsPanel.js" asp-append-version="true"></script>
}