@model IEnumerable<BLL.Models.ViewModels.SubjectVm>

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/admin.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/viewServices.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/nav.css" asp-append-version="true">
}

<div class="servicesList">
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="menu_content">
                    <div class="container p-3">
                        <div class="row pt-4">
                            <div class="col-6">
                                <h2 class="text-primary edit_model_title">Все предметы</h2>
                            </div>
                            <div class="col-6">
                                <a asp-action="AddSubject" class="create_button">
                                    <i>&nbsp;Создать</i>
                                </a>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="events">
                            @if (Model.Any())
                            {
                                <div class="pt-1 col-12">
                                    @foreach (var el in Model)
                                    {
                                        <partial model="@el" name="Partials/_SubjectCard"/>
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-content-center pt-4">
                                    <h2 class="text-center">Таких предметов нету</h2>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>