@model IEnumerable<BLL.Models.ViewModels.SuggestionVm>

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/main.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/admin.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/login.css"  asp-append-version="true">
}

<div class="margin_top_mini"></div>

<div class="servicesList">
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="menu_content">
                    <div class="col-12" id="UsersWithPagination">
                            @if (Model.Count() > 0)
                            {
                                <partial name="Partials/_SuggestionsWithPagination" model="@Model"/>
                            }
                            else
                            {
                                <h2 class="text-center edit_model_element edit_model_element--large">Нету предложений</h2>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


