@model BLL.Models.ViewModels.SuggestionsWithPaginationVm

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/admin.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/login.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/viewServices.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/nav.css" asp-append-version="true">
}

<div class="margin_top_mini"></div>

<div class="section events" id="events">
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="menu_content">
                    <div class="col-12">
                         <partial name="Partials/_SuggestionsList" model="@Model.Suggestions"/>     
                    </div>
                    <div class="col-12">
                        <partial name="../Home/Partials/_Pagination" model="@Model.Count" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/Admin/SuggestionPanel.js" asp-append-version="true"></script>
        <script src="~/js/default/pagination.js" asp-append-version="true"></script>
}