@model BLL.Models.ViewModels.UserPanelVm

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/main.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/admin.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/viewServices.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/login.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/nav.css" asp-append-version="true">
}

<div class="margin_top_mini"></div>

<div class="servicesList">
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="menu_content">
                    <div class="container p-3">

                        <input class="input_form_input half-width" id="InputNick" required placeholder="Ник"/>
                        <input class="input_form_input half-width" id="InputEmail" required placeholder="Почта"/>

                        <button id="findUsers" class="input_form_input input_form_input--search-button half-width">Найти</button>
                    </div>
                    
                    <div id="UsersWithPagination" class="events">
                        <partial name="Partials/_UserTableWithPagination" model="@Model"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Admin/UserPanel.js" asp-append-version="true"></script>
    <script src="~/js/Favor/ToDoFavor.js" asp-append-version="true"></script>
}