<form id='form'>
    <div class='text-center'>
        <textarea class='form-control' placeholder='Причина бана' rows='3' cols='50' required maxlength='200' id='reasonBan'></textarea>
        <input class='form-control mt-2' id='durationBan' value='0' required placeholder='Длительность' type='number'></input>
        <div class='text-center pt-2'>
            <button value='${userId}' id='addBan' class='btn btn-outline-dark'>Забанить</button>
            <button id='CloseModal' class='btn btn-outline-secondary'>Отмена</button>
        </div>
    </div>
</form>
