<form id='form'>
    <div class='text-center'>
    <textarea class='form-control' style="resize:none" placeholder='Причина жалобы' rows='3' cols='50' required maxlength='200' id='reasonReport'></textarea>
        <div class='text-center pt-2'>
            <button value='${favorId}' id='addReport' class='btn btn-outline-dark'>Пожаловаться</button>
            <button id='CloseModal' class='btn btn-outline-secondary'>Отмена</button>
        </div>
    </div>
</form>