<div class=" d-flex justify-content-center pt-5">
    <div class="border FavorCard">
        <div class="">
            <div class="col-12 row text-center">
                <div class="col-4">
                    <b class="">Asketov</b>
                </div>
                <div class="col-4">
                    <small>Предметы: Архитектуры Эвм</small>
                </div>
                <div class="col-4">
                    <small class=""> Цена: 100 руб </small>
                </div>
            </div>
            <div class="col-12 text-center row pt-1 ">
                <div class="col-8">
                    <i> Делаю тесты по архитектурам по хорошим ценам обращайтесь ко мне
                    Делаю тесты по архитектурам по хорошим ценам обращайтесь ко мне
                    Делаю тесты по архитектурам по хорошим ценам обращайтесь ко мне
                    </i>
                </div>
                <div class="col-4">
                    <b class="">Рейтинг: 5.0</b>
                </div>
            </div>
            <div class="col-12 row pt-1 pb-1 text-center">
                <div class="col-8">
                    <em class=""> Связь: https://t.me/fantastic19 </em>
                </div>
                <div class="col-4">
                    <a class="" asp-controller="home" asp-action="index">Отзывы</a>
                </div>
            </div>
        </div>
    </div>
</div>
