@model IEnumerable<BLL.Models.ViewModels.FavorSolutionVm>

<div id="favorSolutions">
    @if (Model.Any())
    {
        <div class="pt-1 col-12">
            @foreach (var el in Model)
            {
                <partial model="@el" name="../FavorSolution/Partials/_FavorSolutionCard"/>
            }
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center pt-2">
            <h2 class="text-center">Таких услуг нет</h2>
        </div>
    }
</div>







