@model IEnumerable<BLL.Models.ViewModels.FavorSolutionVm>
<div id="favorSolutions">
    @if (Model.Any())
    {
        <div class="pt-4 col-12">
            @foreach (var el in Model)
            {
                <partial model="@el" name="../FavorSolution/Partials/_FavorSolutionCard"/>
            }
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center pt-4">
            <div>Таких услуг нет</div>
        </div>
    }
</div>