<div class=" d-flex justify-content-center pt-5">
    <div class="border FavorCard">
        <div class="">
            <div class="col-12 row">
                <div class="col-4">
                    <b class="p-5">Asketov</b>
                </div>
                <div class="col-4">
                    <small>Предметы: Архитектуры Эвм</small>
                </div>
                <div class="col-4">
                    <small class="p-5"> Цена: 100 руб </small>
                </div>
            </div>
            <div class="col-12 row pt-1 p-3">
                <div class="col-8">
                    <i class="text-center"> Делаю тесты по архитектурам по хорошим ценам обращайтесь ко мне
                    Делаю тесты по архитектурам по хорошим ценам обращайтесь ко мне
                    Делаю тесты по архитектурам по хорошим ценам обращайтесь ко мне
                    </i>
                </div>
                <div class="col-4">
                    <b class="p-5">Рейтинг: 5.0</b>
                </div>
            </div>
            <div class="col-12 row pt-1 pb-1">
                <div class="col-8">
                    <em class="p-5"> Связь: https://t.me/fantastic19 </em>
                </div>
                <div class="col-4">
                    <a class="p-5" asp-controller="home" asp-action="index">Отзывы</a>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="./css/FavorSolution/Card.css" rel="stylesheet" type="text/css" />