@model BLL.Models.ViewModels.SuggestionVm

<div class="d-flex justify-content-center">
    <div class="col-12 addSolutionCard">
        <form asp-action="AddSuggestion" method="post" id="form">
            <div>
                <div class="pt-2">
                    <textarea id="text" asp-for="Text" data="elastic" class="form-control" placeholder="Введите ваше предложение*"></textarea>
                    <span class="text-danger" asp-validation-for="Text"></span>
                </div>
                <div class="pt-2">
                    <input id="connect" asp-for="Connection" type="text" class="form-control" placeholder="Как с вами связаться? (не обязательно)" />
                    <span class="text-danger" asp-validation-for="Connection"></span>
                </div>
                <div class="pt-2 text-center">
                    <button type="submit" class="btn btn-dark">Отправить</button>
                    <button id="clearFormButton" type="button" class="btn btn-danger">Очистить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<link href="~/css/Favor/addSolution.css" rel="stylesheet" type="text/css" asp-append-version="true" />