@using Common.Configs
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ModelsConfiguration
@model string

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/information.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/main.css"  asp-append-version="true">
}

<div class="contact-us section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-us-content">
                    <div class="info_text">
                        @Html.Raw(@Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
