@model int

@if (Model > 10)
{
    <div class="box d-flex justify-content-center pt-2 col-12">
    @for (int i = 1; i <= 5; i++)
    {
        <button class="form-control item" id="page_@i">@i</button>
    }
        <button class="form-control item" id="nextPages">...</button>
    </div>
}