@section Styles
{
}

<div class="section about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-1">
                <div class="accordion" id="accordionExample">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                О создателях сайта
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Создатели сайта <strong>не несут</strong> отвественность за размещенную информацию другим участником.</p>
                                <p>Создатели сайта <strong>не</strong> пропагандируют невежество.</p>
                                <p>Создатели сайта <strong>не несут</strong> отвественность за персональные данные.</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Правила сайта
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    <code> Оскорбление - бан на неделю. </code>
                                </p>
                                <p>
                                    <code>Расизм и Нацизм - бан навсегда. </code>
                                </p>
                                <p>
                                    <code>Политика - бан навсегда. </code>
                                </p>
                                <p>
                                    <code>Религия - бан навсегда. </code>
                                </p>
                                <p>
                                    <code>Реклама - бан навсегда. </code>
                                </p>
                                <p>
                                    <code>Попытки обмана(фишинг, денежный развод и т.д.) - бан навсегда. </code>
                                </p>
                                <p>
                                    <code>Троллинг - бан 15 лет. </code>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 align-self-center">
                <div class="section-heading">
                    <h6>О сайте</h6>
                    <h2 class="no_extra_text_effects">Полезная информация о сайте, и тому как им пользоваться</h2>

                    <div>Этот сайт является фриланс-биржой для студентов военмеха.</div>
                    <div>Никто, кроме студентов военмеха, размещать услуги не может.</div>
                    <div>Каждый пользователь может разместить до 10 любых услуг.</div>
                    <div>Чем чаще вы обновляете свои услуги, тем больше вы будете попадаться в начале поиска. Обновлять услугу можно двумя способами: редактировать или обновлять услугу в разделе "Мои услуги". Обновлять услуги можно не более 10 раз в сутки.
                        (Нужно понимать, что добавление новой услуги тоже расходует обновление услуг)</div>
                    <div>Внутри и снаружи сайта все личные данные скрыты. Используйте ссылки на анонимные страницы для предотвращения деанона.</div>
                </div>
            </div>
        </div>
    </div>
</div>
