<div class="d-flex justify-content-center">
    <div style="width: 1000px;">
        <div>
            <h3>О создателе сайта</h3>
            <div>Создатель сайта не несёт отвественность за размещенную информацию другим участником.</div>
            <div>Создатель сайта не пропагандирует невежество.</div>
            <div>Создатель сайта не несёт отвественность за персональные данные.</div>
            <h3>Правила сайта</h3>
            <div>Каждый пользователь может разместить до 20 любых услуг.</div>
            <div style="color: red;">
                <div>Оскорбление - бан на неделю.</div>
                <div>Политика - бан навсегда.</div>
                <div>Религия - бан навсегда.</div>
                <div>Реклама - бан навсегда.</div>
                <div>Попытки обмана - бан навсегда.</div>
            </div>
            <div>Разбан в доказанных случаях невозможен.</div>
        </div>
    </div>
</div>