.selectedSubject {
    background-color: #00bfff;
    border-radius: 30px;
}

.selectedTheme {
    background-color: #00bfff;
    border-radius: 30px;
}

.box {
    margin: 0 -5px;
}

.item {
    margin: 0 5px;
}

.addSolutionCard {
    max-width: 400px;
}