.nailed_to_bottom{ 
    position:absolute;

    left:0px;
    bottom:0px;
    width:100%;

    margin-top: 25px;
}

.go-to-section a{
    font-size: clamp(15px, 0.8vw, 18px) !important;
}

.no_extra_text_effects{
    text-transform: none !important;
}

.col-lg-12--flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.input_field{
    margin-bottom: 15px !important;
}

.input_form input{
    margin-bottom: 10px; !important;
}

.text-danger--blue_style{
    color: #fff !important;
    font-size: 15px !important;
    font-weight: bold !important;
    text-align: center !important;
}

.orange-button:hover{
    background-color: #ccc;
}

.extra_login_link:hover{
    color: #4a4a4a !important;
}

.mar-bottom-mini{
    margin-bottom: 15px !important;
}

.orange-button--white{
    background-color: #fff !important;
    color: #0c63e4 !important;

    width: 100%;
    text-align: center;
    border: none;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 25px;
    border-radius: 25px;
    position: relative;
    z-index: 5;
    
    transition: background-color 0.2s linear !important;
}
.orange-button--white:hover{
    background-color: #cbcbcb !important;
}


.menu{
    background-color: #6A8FD9;
    border-radius: 30px;

    position: relative;
    overflow: hidden;

    z-index: 1;
}

.menu::before{
    background: url(../images/contact-dec-01.png);
    position: absolute;
    left: 50%;
    transform: translateX(-149px);
    opacity: 0.5;
    top: 0;
    width: 318px;
    height: 119px;
    content: '';
    z-index: 2;
}

.menu::after{
    background: url(../images/contact-dec-02.png);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 183px;
    height: 149px;
    content: '';
    z-index: 2;
}

.menu_content{
    padding: 50px 35px;
}

.half-width{
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
}

.margin_top_mini{
    margin-top: 150px;
}

@media (max-width: 1100px) {
    .background-header .main-nav .nav,
    .header-area .main-nav .nav {
      background-color: #f1f0fe;
    }
    .background-header .main-nav .nav li a,
    .header-area .main-nav .nav li a {
      line-height: 50px;
      height: 50px;
      font-weight: 400;
      color: #1e1e1e;
      background-color: #f1f0fe;
       border-radius: 0px 0px 25px 25px;
    }
    .background-header .main-nav .nav li,
    .header-area .main-nav .nav li {
      border-top: 1px solid #ddd;
      background-color: #f1f0fe;
      height: 50px;
      border-radius: 0px 0px 25px 25px;
    }
    .background-header .main-nav .nav li:last-child,
    .header-area .main-nav .nav li:last-child {
      border-radius: 0px 0px 25px 25px;
    }
    .header-area .main-nav .nav {
      height: auto;
      flex-basis: 100%;
    }
    .header-area .main-nav .logo {
      position: absolute;
      left: 30px;
      top: 0px;
    }
    .background-header .main-nav .logo {
      top: 0px;
    }
    .background-header .main-nav .border-button {
      top: 0px !important;
    }
    .header-area .main-nav .border-button {
      position: absolute;
      top: 15px;
      right: 70px;
    }
    .header-area.header-sticky .nav li a:hover,
    .header-area.header-sticky .nav li a.active {
      color: #6A8FD9!important;
      opacity: 1;
    }
    .header-area.header-sticky .nav li.search-icon a {
      width: 100%;
    }
    .header-area {
      background-color: transparent;
      padding: 0px 15px;
      height: 80px;
      box-shadow: none;
      text-align: center;
    }
    .header-area .container {
      padding: 0px;
    }
    .header-area .logo {
      margin-left: 0px;
      margin-top: 30px;
    }
    .header-area .menu-trigger {
      display: block !important;
    }
    .header-area .main-nav {
      overflow: hidden;
    }
    .header-area .main-nav .nav {
      float: none;
      width: 100%;
      display: none;
      -webkit-transition: all 0s ease 0s;
      -moz-transition: all 0s ease 0s;
      -o-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
      margin-left: 0px;
    }
    .header-area .main-nav .nav li:first-child {
      border-top: 1px solid #eee;
    }
    .header-area.header-sticky .nav {
      margin-top: 100px !important;
    }
    .background-header.header-sticky .nav {
      margin-top: 80px !important;
    }
    .header-area .main-nav .nav li {
      width: 100%;
      background: #fff;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .half-width{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media (max-width: 450px) {
    .orange-button{
        padding: 0 !important;
        border-radius: 8px !important;
    }
}