.nav_menu_button{
    display: block;
    width: 100%;
    
    text-align: center;
    border: none;
    height: 50px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 0px 18px;
    border-radius: 25px;
    background-color: #6A8FD9;
    transition: all .4s;
    position: relative;
    z-index: 5;
    
    margin: 12px;
}

.nav_menu{
    width: 100%;
    display: flex;
    flex: 0 0 auto;
}

@media (max-width: 600px) {
    .nav_menu_button {
        padding: 0px 6px;
        margin: 4px;
    }
}