<div class="d-flex justify-content-center">
    <div class="col-6">
        <div>
            <div class="pt-2">
                <textarea data="elastic" class="form-control" placeholder="Введите текст"></textarea>
            </div>
            <div class="pt-2">
                <input class=" form-control" placeholder="Введите цену" />
            </div>
            <div class="pt-2">
                <select class=" form-select">
                    <option value="" selected="" disabled="">Предмет</option>
                </select>
            </div>
        </div>
    </div>
</div>
       