@model BLL.Models.ViewModels.AddSolutionVm


<div class="d-flex justify-content-center">
    <div class="col-10">
        <form id="form">
            <div>
                <div class="pt-2">
                    <textarea id="text" asp-for="Text" data="elastic" class="form-control" placeholder="Введите текст*(200)"></textarea>
                    <span class="text-danger" asp-validation-for="Text"></span>
                </div>
                <div class="pt-2">
                    <input id="price" asp-for="Price" min="0" max="2000000" type="number" class="form-control" placeholder="Введите цену*(0-2000000)"/>
                    <span class="text-danger" asp-validation-for="Price"></span>
                </div>
                <div class="pt-2">
                    <input id="connect" asp-for="Connection" type="text" class="form-control" placeholder="Введите связь*(5-50)"/>
                    <span class="text-danger" asp-validation-for="Connection"></span>
                </div>
                <div class="box pt-2 d-flex">
                    <select id="themes" class="item form-select">
                        @foreach (var theme in Model.Themes)
                        {
                            <option value="@theme.Id">@theme.Name</option>
                        }
                    </select>
                </div>
                <div class="box pt-2 d-flex">
                    <select class="item form-select" id="subjects">
                        @foreach (var subject in Model.Subjects)
                        {
                            <option value="@subject.Id">@subject.Name</option>
                        }
                    </select>
                    <button id="addSubject" type="button" class="item btn btn-dark"><i class="fa-solid fa-plus"></i></button>
                </div>
                <div class="SelectedSubjects pt-2">
                    
                </div>
                <div class="pt-2 text-center">
                    <button id="submitForm" type="button" class="btn btn-dark">Добавить</button>
                    <button id="clearFormButton" type="button" class="btn btn-danger">Очистить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<link href="~/css/Favor/addSolution.css" rel="stylesheet" type="text/css" asp-append-version="true" />
       
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/Favor/AddSolution.js" asp-append-version="true"></script>
}