@using Common.Consts
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"  asp-append-version="true">

    <title>ezVuz</title>

    <link href="~/lib/new/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"  asp-append-version="true">

    <link rel="stylesheet" href="~/css/base/fontawesome.css">
    <link rel="stylesheet" href="~/css/base/app.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/base/owl.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/base/animate.css" asp-append-version="true">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    @await RenderSectionAsync("Styles", required: false);
    <link rel="stylesheet" href="~/css/pages/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/base/modal.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/2043842d05.js" crossorigin="anonymous" asp-append-version="true"></script>
</head>

<body>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!--Header Area Start-->
<header class="header-area header-sticky background-header only-background">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!--Logo-->
                    <a asp-controller="Home" asp-action="Index" class="logo">
                        <h1>EzVuz</h1>
                    </a>
                    <!--Logo End-->

                    <!--Menu Start-->
                    <ul class="nav nav--main_menu">
                        <li class="go-to-section">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Посмотреть Услуги</a>
                        </li>
                        <li class="go-to-section">
                            <a asp-area="" asp-controller="FavorSolution" asp-action="AddSolution">Добавить Услугу</a>
                        </li>
                        <li class="go-to-section">
                            <a asp-area="" asp-controller="Home" asp-action="Rools">О сайте</a>
                        </li>
                        <li class="go-to-section">
                            <a asp-area="" asp-controller="Home" asp-action="AddSuggestion">Предложить идею</a>
                        </li>
                        <li class="go-to-section">
                            @if (@User.Identity!.IsAuthenticated)
                            {
                                <a asp-area="" asp-controller="User" asp-action="MainMenu">@User.Identity.Name</a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Auth" asp-action="Login">Войти</a>
                            }
                        </li>
                        <li class="go-to-section">
                            @if (@User.Identity!.IsAuthenticated)
                            {
                                <a asp-area="" asp-controller="Auth" asp-action="Logout">Выйти</a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Auth" asp-action="Register">Регистрация</a>
                            }
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Меню</span>
                    </a>
                    <!--Menu End-->
                </nav>
            </div>
        </div>
    </div>
</header>
<!--Header Area End-->

@RenderBody()
@*Модальное окно*@
<div style="" class="Modal">
    <div class="Content">
    </div>
</div>

<script src="~/lib/new/jquery/dist/jquery.min.js"  asp-append-version="true"></script>
<script src="~/lib/new/bootstrap/dist/js/bootstrap.min.js"  asp-append-version="true"></script>
@*<script src="~/js/default/isotope.min.js"  asp-append-version="true"></script>*@
<script src="~/js/default/owl-carousel.js"  asp-append-version="true"></script>
@*<script src="~/js/default/counter.js"  asp-append-version="true"></script>*@
<script src="~/js/default/custom.js"  asp-append-version="true"></script>
<script src="~/lib/new/bootstrap/dist/js/bootstrap.bundle.min.js"  asp-append-version="true"></script>
<script src="~/lib/new/jquery-validation/dist/jquery.validate.min.js"  asp-append-version="true"></script>
<script src="~/lib/new/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"  asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/2043842d05.js" crossorigin="anonymous"  asp-append-version="true"></script>
    <script src="~/js/default/pagination.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>