@model BLL.Models.ViewModels.ChangePasswordVm


<div class="d-flex justify-content-center">
    <div class="col-10 block">
        <div>
            <form id="form" asp-action="ChangePassword" method="post">
                <input asp-for="@Model.Code" hidden />
                <div class="pt-2">
                    <input id="password" asp-for="Password" maxlength="60" type="password" required class="form-control" placeholder="Введите пароль *"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="pt-2">
                    <input id="confirmPassword" asp-for="ConfirmPassword" maxlength="60" type="password" required class="form-control" placeholder="Повторите пароль *"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="pt-2 text-center">
                    <button type="submit" class="btn btn-dark">Поменять пароль</button>
                    <button id="clearFormButton" type="button" class="btn btn-danger">Очистить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/css/Auth/Login.css" asp-append-version="true" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}