@model BLL.Models.ViewModels.MyFavorsVm

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/viewServices.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/nav.css"  asp-append-version="true">
}

<div class="section events" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2 class="no_extra_text_effects">Ваши Услуги</h2>
                    <h2>Сегодня у вас осталось @Model.RemainUpdates обновлений услуг</h2>
                </div>
            </div>

            <div>
                <partial name="Partials/_FavorSolutions" model="@Model.favors"/>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/Favor/MyFavors.js" asp-append-version="true"></script>
    <script src="~/js/Favor/ToDoFavor.js" asp-append-version="true"></script>
}