

<div class="d-flex justify-content-center">
    <div class="col-10 block">
        <div>
            <form id="form" asp-action="SendChangePasswordLinkToEmail" method="get">
                <div class="pt-2">
                    <input name="email" maxlength="60" type="email" required class="form-control" placeholder="Введите почту *" />
                </div>
                <div class="pt-2 text-center">
                    <button type="submit" class="btn btn-dark">Отправить письмо</button>
                    <button id="clearFormButton" type="button" class="btn btn-danger">Очистить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/css/Auth/Login.css" asp-append-version="true" />
