@using Common.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/viewServices.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/MainMenu.css" asp-append-version="true">
}

<div class="servicesList">
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="menu_content">
                    <div class="align-content-center">
                        <fieldset class="button button--navmenu">
                            <a asp-area="" asp-controller="FavorSolution" asp-action="AddSolution">
                                <button class="orange-button orange-button--white">Добавить Свою Услугу</button>
                            </a>
                        </fieldset>

                        <fieldset class="button button--navmenu">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="FavorSolutions">
                                <button class="orange-button orange-button--white">Мои Услуги</button>
                            </a>
                        </fieldset>

                        <fieldset class="button button--navmenu">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="ChangePassword">
                                <button class="orange-button orange-button--white">Сменить пароль</button>
                            </a>
                        </fieldset>

                        @if (User.IsInRole(Roles.SuperAdminId) || User.IsInRole(Roles.AdminId))
                        {
                            <fieldset class="button button--navmenu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ThemeManager">
                                    <button class="orange-button orange-button--white">Работа с темами</button>
                                </a>
                            </fieldset>

                            <fieldset class="button button--navmenu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SubjectManager">
                                    <button class="orange-button orange-button--white">Работа с предметами</button>
                                </a>
                            </fieldset>

                            <fieldset class="button button--navmenu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserPanel">
                                    <button class="orange-button orange-button--white">Работа с пользователями</button>
                                </a>
                            </fieldset>

                            <fieldset class="button button--navmenu">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="SuggestionsPage">
                                    <button class="orange-button orange-button--white">Предложения</button>
                                </a>
                            </fieldset>
                        }

                        <fieldset class="button button--navmenu">
                            <a asp-area="" asp-controller="Auth" asp-action="Logout">
                                <button class="orange-button orange-button--white">Выйти из аккаунта</button>
                            </a>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
