@using Common.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers

@section Styles
{
    <link rel="stylesheet" href="~/css/pages/viewServices.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/pages/MainMenu.css" asp-append-version="true">
}

<div class="servicesList">
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="menu_content">
                    <div class="align-content-center">
                        <fieldset class="button button--navmenu">
                            <a asp-area="" asp-controller="FavorSolution" asp-action="AddSolution">Добавить Свою Услугу</a>
                        </fieldset>

                        <fieldset class="button button--navmenu">
                            <a asp-area="" asp-controller="User" asp-action="FavorSolutions">Мои Услуги</a>
                        </fieldset>

                        <fieldset class="button button--navmenu">
                            <a asp-area="" asp-controller="User" asp-action="ChangePassword">Сменить пароль </a>
                        </fieldset>

                        @if (User.IsInRole(Roles.SuperAdminId) || User.IsInRole(Roles.AdminId))
                        {
                            <fieldset class="button button--navmenu">
                                <a asp-area="" asp-controller="Admin" asp-action="ThemeManager">Работа с темами </a>
                            </fieldset>
                            <fieldset class="button button--navmenu">
                                <a asp-area="" asp-controller="Admin" asp-action="RegisterUser">Зарегистрировать пользователя</a>
                            </fieldset>

                            <fieldset class="button button--navmenu">
                                <a asp-area="" asp-controller="Admin" asp-action="SubjectManager">Работа с предметами </a>
                            </fieldset>

                            <fieldset class="button button--navmenu">
                                <a asp-area="" asp-controller="Admin" asp-action="UserPanel">Работа с пользователями </a>
                            </fieldset>
                            
                            <fieldset class="button button--navmenu">
                            <a asp-area="" asp-controller="Admin" asp-action="FavorSolutionsWarnTopPage">Подозрительные записи</a>
                            </fieldset>
                            
                            <fieldset class="button button--navmenu">
                                <a asp-area="" asp-controller="Admin" asp-action="SuggestionsPage">Предложения </a>
                            </fieldset>
                        }

                        <fieldset class="button button--navmenu">
                            <a asp-area="" asp-controller="Auth" asp-action="Logout">Выйти из аккаунта </a>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>