@model IEnumerable<BLL.Models.ViewModels.FavorSolutionVm>

<div class="d-flex justify-content-center">
    <div class="indexMain">
        @foreach (var el in Model)
        {
            <div class="pb-4">
                <div class="border border-1 border-dark">
                    <partial name="../FavorSolution/Partials/_FavorSolutionCard" model="@el"/>
                    <div class="text-center pt-2 pb-2 box">
                        <a asp-route-id="@el.Id" asp-action="EditFavor" class="btn btn-dark item">Редактировать</a>
                        <a asp-route-id="@el.Id" asp-action="DeleteFavor" class="btn btn-danger item">Удалить</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="Modal">
    <div class="Content">
    </div>
</div>

<link href="~/css/Home/IndexHome.css" rel="stylesheet" type="text/css" asp-append-version="true" />

<link href="~/css/Home/Modal.css" rel="stylesheet" type="text/css" asp-append-version="true" />

@section Scripts{
    <script src="~/js/Home/Index.js" asp-append-version="true"></script>
    <script>
       $('.dislike').remove();
    </script>
}